// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head h1 {
    font-size: 80px;
}
.head h2 {
    font-size: 30px;
}

body {
    text-align: center;
}
.task {
    text-align: center;
}